<main class="pa4 black-80 sans-serif fw1">
    <form class="w-80 center">

        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
            <legend class="f2 fw6 ph0 mh0">About You</legend>
            <div class="mt1">
                <label class="db fw6 lh-copy f6" for="email-address">Name (required)</label>
                <input class="pa2 input-reset ba bg-transparent w-100" name="name"  id="name">
            </div>
            <div class="mv3">
                <label class="db fw6 lh-copy f6" for="password">Link To Photo Image (required)</label>
                <input class="pa2 input-reset ba bg-transparent w-100" name="photo"  id="photo">
            </div>
        </fieldset>
        
        <hr>

        <h4>Question 1</h4>
        <p>Your mind is always buzzing with unexplored ideas and plans.</p>
            <select data-placeholder="" class="chosen-select" id="q1">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

        <br>
        <br>

        <h4>Question 2</h4>
        <p>Generally speaking, you rely more on your experience than your imagination.</p>
            <select data-placeholder="" class="chosen-select" id="q2">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

        <br>
        <br>

        <h4>Question 3</h4>
        <p>You find it easy to stay relaxed and focused even when there is some pressure.</p>
            <select data-placeholder="" class="chosen-select" id="q3">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

        <br>
        <br>

        <h4>Question 4</h4>
        <p>You rarely do something just out of sheer curiosity.</p>
            <select data-placeholder="" class="chosen-select" id="q4">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

        <br>
        <br>

        <h4>Question 5</h4>
        <p>People can rarely upset you.</p>
            <select data-placeholder="" class="chosen-select" id="q5">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

        <br>
        <br>

        <h4>Question 6</h4>
        <p>It is often difficult for you to relate to other people’s feelings.</p>
            <select data-placeholder="" class="chosen-select" id="q6">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

        <br>
        <br>

        <h4>Question 7</h4>
        <p>In a discussion, truth should be more important than people’s sensitivities.</p>
            <select data-placeholder="" class="chosen-select" id="q7">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

        <br>
        <br>

        <h4>Question 8</h4>
        <p>You rarely get carried away by fantasies and ideas.</p>
            <select data-placeholder="" class="chosen-select" id="q8">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

        <br>
        <br>

        <h4>Question 9</h4>
        <p>You think that everyone’s views should be respected regardless of whether they are supported by facts or not.</p>
            <select data-placeholder="" class="chosen-select" id="q9">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

        <br>
        <br>

        <h4>Question 10</h4>
        <p>You feel more energetic after spending time with a group of people.</p>
            <select data-placeholder="" class="chosen-select" id="q10">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

        <br>
        <br>

        <input class="b ph3 pv3 input-reset ba white bg-blue w-100 pointer f6 dib" type="submit" value="Submit" data-toggle="modal" id="submit-btn">

    </form>

    <div class="mt2 lh-copy tc pv4">
        <a class="f10 gray link hover-blue" href="/api/friends">API Friends List</a>
        <span class="mh3">  </span>
        <a class="f8 gray link hover-blue" href="#">GitHub Repo</a>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Best Match</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ matchingName }}
                <div class="matching-name"></div>
                <div class="matching-photo"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>
</main>